body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  background-color: #ffffff;
}

section {
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  section {
    padding-bottom: 94px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button {
  background-color: #2196f3;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  text-align: center;
  font-family: inherit;
  margin-top: 0;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  -webkit-box-shadow: 0px 4px 4px 0px, rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px, rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo > span {
  color: #2196f3;
}

element.style {
  text-align: center;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

p {
  display: block;
}

label {
  cursor: default;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  display: inline-block;
}

.title {
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  /*margin-bottom: 30px;*/
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ececec;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  color: #000;
  /*margin-right: 93px;*/
}

@media screen and (max-width: 767px) {
  .header__logo {
    margin-right: 200px;
  }
}

.menu-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #212121;
}

.large {
  display: none;
}

.small {
  display: block;
}

@media screen and (min-width: 767px) {
  .large {
    display: block;
  }
  .small {
    display: none;
  }
}

.menu-navbar__item {
  display: block;
  /*margin-left: 50px;*/
}

.header__contacts {
  /*display: flex;
  margin-left: auto;*/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

/*.header__item {
  margin-left: 50px;
}*/
.header__link {
  color: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover, .header__link:focus {
  color: #2196f3;
}

/*.header__icon {
   margin-right: 10px;
  fill: currentColor;
}*/
.menu-navbar__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  color: inherit;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-navbar__link--current {
  position: relative;
  color: #2196f3;
}

.menu-navbar__link--current::after {
  content: "";
  position: absolute;
  bottom: -32px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  opacity: 1;
}

.menu-navbar__link:hover, .menu-navbar__link:focus {
  stroke: #2196f3;
  color: #2196f3;
  fill: #2196f3;
}

.hero {
  /*max-width: 1600px;*/
  padding: 118px 0;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/fon.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/fon.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding: 200px 0;
  }
}

.hero_title {
  /*width: 696px;*/
  color: #ffffff;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
}

@media screen and (max-width: 1199px) {
  .hero_title {
    display: block;
    width: 360px;
    font-size: 26px;
    line-height: 1.6;
  }
}

.features__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 60px;
  /*margin-top: 94px;*/
}

.features__item {
  margin-bottom: 30px;
  /*margin-right: $card-gap;
  width: 270px;

  &:last-child {
    margin-right: 0;
  }
  /*@media screen and (min-width: 768px) {
    flex-basis: 50%;
  }*/
}

.features__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .features__item {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}

@media screen and (min-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.features__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__title {
  text-align: center;
  /*justify-content: center;
  width: 700;*/
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
  text-transform: uppercase;
  /*margin-top: 30px;*/
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  .our-work {
    display: none;
  }
}

.our-work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-right: calc(-1 * 30px);
}

.our-work__item {
  margin-right: 30px;
  position: relative;
}

.our-work__item:last-child {
  margin-right: 0;
}

.our-work__overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.our-work__text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  color: #ffffff;
}

.team {
  background: #f5f4fa;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
  }
}

.team__title {
  margin: 0;
}

@media screen and (min-width: 1200px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: calc(-1 * 30px);
  }
}

.team__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  margin-top: 30px;
}

@media (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc 25% - 30px;
        flex-basis: calc 25% - 30px;
    margin-right: 30px;
  }
  .team__item:last-child {
    margin-right: 0;
  }
}

.team-card__image {
  position: relative;
  overflow: hidden;
  width: 450px;
}

@media screen and (min-widht: 1200px) {
  .team-card__image {
    width: 270px;
  }
}

.team-card__menu {
  padding: 30px 32px;
  text-align: center;
  background-color: #ffffff;
}

.team-card__name {
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

.team-card__position {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
  margin-top: 0;
}

@media screen and (min-width: 1200px) {
  .team-card__position {
    margin-bottom: 10px;
  }
}

.team-social__links {
  fill: #afb1b8;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

@media screen and (min-width: 1200px) {
  .team-social__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.team-social__item {
  width: 44px;
  height: 44px;
  margin: 0px;
}

@media screen and (min-width: 1200px) {
  .team-social__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.team-social__icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social__icon:hover, .team-social__icon:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.clients {
  margin-top: 60px;
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .clients {
    margin-top: 94px;
    margin-bottom: 0;
  }
}

.clients__list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.clients__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon:hover, .clients__icon:focus {
  border: solid 1px #2196f3;
}

@media screen and (min-width: 1200px) {
  .clients__icon {
    margin-right: 30px;
    width: 170px;
  }
}

.clients__card {
  margin-right: 30px;
  margin-bottom: 30px;
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
}

.clients__card:nth-child(2n) {
  margin-right: 0;
}

.clients__card:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .clients__card:nth-last-child(6) {
    margin-right: 0px;
  }
}

.clients__svg {
  fill: #afb1b8;
  width: 106px;
  height: 60px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__svg:hover, .clients__svg:focus {
  fill: #2196f3;
}

.footer {
  background: #2f303a;
  padding: 60px 0;
  text-align: center;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .footer .container {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer__contacts {
    margin-right: 70px;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
}

address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  address {
    text-align: left;
  }
}

.footer__list {
  display: block;
  margin-bottom: 60px;
}

.footer__item {
  margin-bottom: 8px;
}

.footer__item:last-child {
  margin-bottom: 0;
}

.footer__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff99;
}

.footer__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 20px;
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

.footer-social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social__item:nth-last-child(-n + 4) {
  margin-right: 10px;
}

@media screen and (min-width: 1200px) {
  .footer-social__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-social__icon {
  fill: #ffffff;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__icon:focus, .footer-social__icon:hover {
  background-color: #2196f3;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__input {
  width: 450px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  padding: 15px 16px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
    margin: 0;
  }
}

.footer-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2196f3;
  min-width: 200px;
  padding: 10px 29px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

@media screen and (min-width: 1200px) {
  .footer-button {
    margin-left: 12px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.footer-button__title {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
}

.footer-button__icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #ffffff;
}

@media (min-width: 1200px) {
  .portfolio {
    padding: 94px 0;
  }
}

.portfolio-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*margin-bottom: 56px;
  justify-content: center;*/
}

/*.portfolio-nav__item {
  margin-left: 8px;
}*/
.portfolio-nav__button {
  /*display: block;*/
  background-color: #f5f4fa;
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.02em;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  /*padding: 6px 22px;*/
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-nav__button:hover, .portfolio-nav__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*.portfolio-cards {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.portfolio-cards__item {
  margin-right: $card-gap;
  margin-bottom: $card-gap;

  flex-basis: calc((100% - 60px) / 3);

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}*/
.card {
  position: relative;
  /*display: block;*/
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover, .card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__image {
  position: relative;
  overflow: hidden;
}

.card__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.71;
  letter-spacing: 0.06em;
  text-align: left;
  color: #212121;
  /*margin-bottom: 4px;
  margin-top: 0;*/
}

.card__text {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
  /* margin: 0;*/
}

.card__action {
  /*display: block;
  width: 322px;
  height: 168px;*/
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  /* margin: 63px 24px;*/
}

.card__overlay {
  position: absolute;
  /*top: 0;
  left: 0;
  width: 370px;
  height: 294px;*/
  background-color: rgba(33, 150, 243, 0.9);
  /*transform: translateY(100%);*/
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*.card:hover &,
  .card:focus & {
    transform: translateY(0);
  }*/
}

.card__name {
  /*padding: 24px 20px;*/
  border: 1px solid #eeeeee;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 1250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 1250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 1250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 1250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/*.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}*/
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px 40px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 2250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 2250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 2250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 2250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 2250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}

.modal-button__close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.modal-button__icon-close {
  fill: #000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button__icon-close:focus, .modal-button__icon-close:hover {
  fill: #2196f3;
}

.modal__title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  margin-top: 0;
  color: #212121;
}

.modal-form {
  display: block;
  margin-bottom: 10px;
}

.modal-form__label {
  display: block;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-form__contact {
  position: relative;
  cursor: pointer;
}

.modal-form__contact:focus-within {
  fill: #2196f3;
}

.modal-form__input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin: 0;
  padding: 10px;
  padding-left: 30px;
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus-within {
  outline: none;
  border-color: #2196f3;
}

.modal-form textarea {
  resize: none;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  cursor: pointer;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  color: #212121;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.check__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.check__box {
  position: absolute;
  margin-top: 0.2em;
  width: 15px;
  height: 15px;
  border-radius: 0.05em;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 0 0.1em #212121;
          box-shadow: 0 0 0 0.1em #212121;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check__input:checked + .check__box {
  background-color: #2196f3;
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
}

.check__input:focus + .check__box {
  -webkit-box-shadow: 0 0 0 0.1em #2196f3;
          box-shadow: 0 0 0 0.1em #2196f3;
}

.check__text {
  padding-left: 24px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.check__text-option {
  color: #2196f3;
  text-decoration: underline;
}

.modal-button__send {
  display: block;
  min-width: 200px;
  background-color: #2196f3;
  color: #ffffff;
  font-size: inherit;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  padding: 10px 55px;
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.menu-toggle:focus {
  color: #2196f3;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  background-color: #ffffff;
  padding-left: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  color: black;
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
/*# sourceMappingURL=main.css.map */