.features {
  padding-bottom: 60px;
}
.features__menu {
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }

  @media screen and (min-width: 768px) {
    justify-content: space-between;
    margin-top: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 94px;
  }
}

.features__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    margin-bottom: 30px;

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    margin-right: $card-gap;
    width: 270px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.features__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: $card-gap;
}

.features__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: $text-primary;
  font-weight: 700;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    margin-top: 30px;
    justify-content: center;
  }
}
.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: $text-secondary;
  margin-bottom: 0;
}
