.menu-toggle:focus {
  color: $color-accent;
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  transform: translateX(100%);
  background-color: $color-white;
  padding-left: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
}
.menu-container.is-open {
  transform: translateX(0);
}
.menu-container .menu-toggle {
  color: black;
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;

  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
